In [ ]:
# import sys
# !{sys.executable} -m pip install --user pandas
# !{sys.executable} -m pip install --user sqlalchemy
# !{sys.executable} -m pip install --user pyodbc

In [1]:
import pandas as pd
import getpass as gp
import pyodbc

from sqlalchemy import create_engine
from urllib.parse import quote
from datetime import datetime as dt

In [47]:
print(r"Enter your user name (e.g., kellogg\<netid>): ")
user = input()
print("Enter your password: ")
pwd = gp.getpass()

Enter your user name (e.g., kellogg\<netid>):
wkt406
Enter your password:
········

In [48]:
print(user)
print(pwd)

wkt406
34@Olgastrasse

In [ ]:
# run this code on MacOS
# ! tsql -S MYMSSQL -U {user} -P {pwd}

# run this code on KLC -- you will have to stop execution on this cell manually
# ! isql kdc-tds {user} {pwd} -v

In [49]:
conn = pyodbc.connect(f"DSN=kdc-tds;Database=LLMA;UID={user};PWD={pwd}")
cursor = conn.cursor() 
cursor.execute("select * from information_schema.tables") 
row = cursor.fetchone() 
print(row)
cursor.execute("select top 100 * from Performance") 
row = cursor.fetchone() 
print(row)
conn.close()

('LLMA', 'dbo', 'Performance', 'BASE TABLE')
(21, 19990101, Decimal('110444.00'), Decimal('12.590'), Decimal('0.00'), None, None, 'C', 'C', 0, 0, None, 'I', 121, 'U', '20', 2, '0', '0', 'N', 'Ext\\Performance_Firsts_1999.txt')

In [50]:
engine = create_engine(f"mssql+pyodbc://{user}:{quote(pwd)}@kdc-tds")

In [51]:
begin = dt.now()
rs = engine.execute("select top 100 * from LLMA.dbo.Performance")
end = dt.now()
print(f"time taken: {end-begin}")

time taken: 0:00:00.080786

In [52]:
begin = dt.now()
rows = rs.fetchall()
end = dt.now()
print(f"time taken: {end-begin}")

time taken: 0:00:00.066247

In [53]:
begin = dt.now()
df = pd.DataFrame(rows)
df.columns = rs.keys()
end = dt.now()
print(f"time taken: {end-begin}")

time taken: 0:00:00.004266

In [54]:
df

,loan_id,last_paid_interest_date,current_balance,current_interest_rate,total_payment_due,scheduled_principal,scheduled_monthly_pi,mba_delinquency_status,ots_delinquency_status,mba_days_delinquent,...,delinquency_history_string,active_status,period_of_payment,current_investor_code,current_product_type,loan_age,mba_worst_ever,ots_worst_ever,bk_flag,SourceFileName
0,21,19990101,110444.0,12.59,0.0,None,None,C,C,0.0,...,None,I,121,U,20,2,0,0,N,Ext\Performance_Firsts_1999.txt
1,21,19990101,110444.0,12.59,0.0,None,None,3,C,30.0,...,None,I,122,U,20,3,30,0,N,Ext\Performance_Firsts_1999.txt
2,21,19990201,110416.0,12.59,0.0,None,None,3,C,30.0,...,None,I,123,U,20,4,30,0,N,Ext\Performance_Firsts_1999.txt
3,21,19990301,110387.0,12.59,0.0,None,None,3,C,30.0,...,None,I,124,U,20,5,30,0,N,Ext\Performance_Firsts_1999.txt
4,21,19990401,110359.0,12.59,0.0,None,None,3,C,30.0,...,None,I,125,U,20,6,30,0,N,Ext\Performance_Firsts_1999.txt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,26,19971101,52554.0,14.24,0.0,None,None,9,9,180.0,...,None,I,125,U,20,28,180,180,Y,Ext\Performance_Firsts_1999.txt
96,26,19980101,52534.0,14.24,0.0,None,None,9,9,180.0,...,None,I,126,U,20,29,180,180,Y,Ext\Performance_Firsts_1999.txt
97,26,19980201,52523.0,14.24,0.0,None,None,9,9,180.0,...,None,I,127,U,20,30,180,180,Y,Ext\Performance_Firsts_1999.txt
98,26,19980301,52513.0,14.24,0.0,None,None,9,9,180.0,...,None,I,128,U,20,31,180,180,Y,Ext\Performance_Firsts_1999.txt
99,26,19980401,52502.0,14.24,0.0,None,None,9,9,180.0,...,None,I,129,U,20,32,180,180,Y,Ext\Performance_Firsts_1999.txt