In [ ]:
# import sys
# !{sys.executable} -m pip install --user pandas
# !{sys.executable} -m pip install --user sqlalchemy
# !{sys.executable} -m pip install --user pyodbc

In [1]:
import pandas as pd
import getpass as gp
import pyodbc

from sqlalchemy import create_engine
from urllib.parse import quote
from datetime import datetime as dt

In [2]:
print("Enter your netid: ")
netid = input()
print("Enter your netid password: ")
pwd = gp.getpass()

Enter your netid:

 wkt406

Enter your netid password:

 ··············

In [5]:
! tsql -S MYMSSQL -U kellogg\\{netid} -P {pwd}

locale is "C"
locale charset is "US-ASCII"
using default charset "ISO-8859-1"
1>

In [10]:
conn = pyodbc.connect(f"DSN=MYMSSQL;Database=Taxi_NYC;UID=kellogg\\{netid};PWD={pwd}")
cursor = conn.cursor() 
cursor.execute("select * from information_schema.tables") 
row = cursor.fetchone() 
print(row)
conn.close()

('TAXI_NYC', 'dbo', 'SRC_FareData', 'BASE TABLE')

In [14]:
engine = create_engine(f"mssql+pyodbc://kellogg\\{netid}:{quote(pwd)}@MYMSSQL")

In [15]:
begin = dt.now()
rs = engine.execute("select top 100 * from Taxi_NYC.dbo.SRC_FareData")
end = dt.now()
print(f"time taken: {end-begin}")

time taken: 0:00:00.630276

In [16]:
begin = dt.now()
rows = rs.fetchall()
end = dt.now()
print(f"time taken: {end-begin}")

time taken: 0:00:00.024879

In [17]:
begin = dt.now()
df = pd.DataFrame(rows)
df.columns = rs.keys()
end = dt.now()
print(f"time taken: {end-begin}")

time taken: 0:00:00.006675

In [18]:
df

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,3CA71A23F09A8FF5AE5ABCEDC96798DD,91D263AB661071CF3A12BA826B4D7851,CMT,2013-10-17 08:58:55,CRD,8.5,0,0.5,1,0,10
1,25C8D6B5EFFDE4FA5ADA1CB89F550209,C17BB818140785ED3F0EBB84776C68DC,CMT,2013-10-20 12:16:47,CRD,7.5,0,0.5,1.5,0,9.5
2,CB06D00120162467DDD4F525DCF4F6B4,ABE6872568209D970E2984F62DDA2DB8,CMT,2013-10-16 20:11:37,CRD,29.5,0.5,0.5,7.16,5.33,42.99
3,198CA2E2F19D0E7C2132A605FB037666,2B03D391E7222373C7CB497AB44DA622,CMT,2013-10-18 02:23:48,CRD,14.5,0.5,0.5,1,0,16.5
4,2D1EAC31B5552394520B7DDF4B06D699,33501DFAD2752720EDB2A3FA4C3ECD73,CMT,2013-10-17 11:44:26,CRD,9,0,0.5,2.85,0,12.35
...,...,...,...,...,...,...,...,...,...,...,...
95,EEA9E86865EF99049D70AC001DCBF5F9,0CB8CFD4CD990020B510D5BDC03C127A,CMT,2013-10-15 22:38:09,CRD,8.5,0.5,0.5,1.9,0,11.4
96,08538606A68B9A44756733917323CE4B,99D9DDB55A052318AEA8DFA28FBBDCE0,CMT,2013-10-19 21:23:48,CRD,7.5,0.5,0.5,2,0,10.5
97,137DD172FAABE180E8EC6F729D7B4CC9,35F963CDABEA2527011AA2A129DBB728,CMT,2013-10-19 03:44:46,CRD,15.5,0.5,0.5,4.12,0,20.62
98,2D93956A60CB481952D8B116C78776EF,12B7711AE65F8609869693D6C20EFAF9,CMT,2013-10-19 02:29:46,CRD,17.5,0.5,0.5,3.7,0,22.2
99,9F3FA424A2D01C24426841E28DCF030D,E6FC5925257D2284D22DAEB372DA3BAF,CMT,2013-10-15 17:55:54,CRD,5.5,1,0.5,1.4,0,8.4